@page
@model KE03_INTDEV_SE_1_Base.Pages.cartModel
@{
    ViewData["Title"] = "Cart";
}

<form method="post">
    @Html.AntiForgeryToken()
</form>

<section>
    <h1>Winkelwagen</h1>

    <div id="cart-contents">
        <!-- Cart items and totals will be rendered here by JS -->
    </div>
</section>

@section Scripts {
    <script src="~/js/cart.js"></script>
}