@page "{id:int}"
@model KE03_INTDEV_SE_1_Base.Pages.ProductPaginaModel

<link rel="stylesheet" href="~/css/matrix-product.css" />

<div class="matrix-page">

    <a class="back-link" href="/">
        ← BACK_TO_MARKET
    </a>

    <div class="product-container">

        <div class="product-image-section">


            <img src="@Model.Product.ImageUrl"
                 alt="@Model.Product.Name"
                 class="product-image" />

        </div>

        <div class="product-info">

            <h1 class="product-title">
                @Model.Product.Name
            </h1>

            <p class="tagline">
                @Model.Product.Description
            </p>

            <div class="price">
                $@Model.Product.Price
            </div>

            <button class="cart-button">
                ADD_TO_CART
            </button>

        </div>

    </div>

</div>