html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*header------------------------------------------------------------------------------------------------------------------------------------*/
/* Add a black background color to the top navigation bar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #222;
}

.search-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

    .search-container input {
        width: 300px;
        padding: 8px;
        border-radius: 5px;
        border: none;
    }

/*header------------------------------------------------------------------------------------------------------------------------------------*/