################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataAccessLayer/bin/Debug
/DataAccessLayer/obj
/KE03_INTDEV_SE_2_Base/bin/Debug/net8.0
/KE03_INTDEV_SE_2_Base/obj
/KE03_INTDEV_SE_2_Base/MatrixInc.db
/KE03_INTDEV_SE_2_Base/MatrixInc.db-shm
/KE03_INTDEV_SE_2_Base/MatrixInc.db-wal
/.vs
