@{
    ViewData["Title"] = "Home Page";
}

<div class="alert-info">
    <p class="p-1">
        Dit project kun je gebruiken als startpunt voor de groeps inleveropdracht: <a href="https://moodle.zuyd.nl/mod/resource/view.php?id=1262065">KE03_INTDEV_SE_2</a>

        <ul>
            <li>Wat ga je maken: Je realiseert samen met je casus groep een webapplicatie, een “admin-achtige” webapplicatie waarbij je gebruik maakt van ASP.NET Core MVC architecture pattern. De belangrijkste hoofdprestatie en functionele eisen van deze applicatie zijn als volgt: Het back-office team van Matrix Inc. kan de producten en bijbehorende data en details beheren in deze webapplicatie, zodat de interne en externe klanten altijd over de juiste informatie beschikken.</li>
            
            <li>
                Hoe ga je dit maken?<br />
                - Groepsopdracht.<br />
                - Pas de principes van HCI toe (bijv. Paper prototyping, design principles etc…)<br />
                - Jullie web applicatie maakt gebruik van het MVC architectural pattern.<br />                
                - Je werkt met je casusgroep op 1 github repository. Tip: je kunt met branches en pull requests werken<br />
                - Jullie applicatie maakt gebruik van responsive design, meerdere html elementen en toegepast css styles.<br />
                - Jullie applicatie maakt gebruik van de aangeleverde data access layer voor een snelle start. Deze mag je zelf uitbreiden of aanpassen indien gewenst.<br />
            </li>
            <li>
                Je krijgt een dal (data access layer) meegeleverd. Qua inhoud is die niet perfect gevuld, maar qua structuur biedt die voldoende om een mooi bestel systeem te kunnen maken. <br />
                In het voorbeeld wordt nog geen gebruik gemaakt van de repository classes, maar direct van de db context. Het is aan jezelf om aan te passen en te kiezen hoe je dit kunt wil toepassen en/of oplossen.<br />
                Maar mis je iets, je bent vrij om alles naar wens aan te passen! Ben creatief!
            </li>
        </ul>
    </p>
</div>