@model KE03_INTDEV_SE_2_Base.Models.Product

<div class="header">
    <h1>Add Product</h1>
    <a class="btn" href="/Product/Index">&larr; Back</a>
</div>

<div class="main-content">
    <div class="card">

        <form asp-action="Create" method="post">

            <!-- Image -->
            <label>Image</label>
            <input asp-for="ImageUrl" />

            <!-- Name -->
            <label>Name</label>
            <input asp-for="Name" />

            <!-- Category -->
            <label>Category</label>
            <input asp-for="CategoryId" />

            <!-- Price -->
            <label>Price</label>
            <input asp-for="Price" />

            <!-- Description -->
            <label>Description</label>
            <input asp-for="Description" />

            <!-- Quantity -->
            <label>Quantity</label>
            <input asp-for="Quantity" />

            <!-- DDC Id -->
            <label>DDC Id</label>
            <input asp-for="DDCId" />

            <!-- Delivery Time -->
            <label>Delivery Time</label>
            <input asp-for="DeliveryTime" />

            <!-- Discount Id -->
            <label>Discount Id</label>
            <input asp-for="DiscountId" />

            <!-- Cost -->
            <label>Cost</label>
            <input asp-for="Cost" />

            <!-- Dimensions -->
            <label>Dimensions</label>
            <input asp-for="Dimensions" />

            <button type="submit">Create</button>

        </form>

    </div>
</div>