@model KE03_INTDEV_SE_2_Base.Models.Product

<h2>Product Details</h2>

<p><strong>Name:</strong> @Model.Name</p>
<p><strong>Price:</strong> €@Model.Price</p>

<a href="/Product/Index">Back to List</a>