@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model IEnumerable<KE03_INTDEV_SE_2_Base_main.Models.Product>

    <h2>Product List</h2>
    <ul>
        @foreach (var product in Model)
        {
            <li>
                @product.Name - €@product.Price
                | <a href="/Product/Detail/@product.Id">View Details</a>
            </li>
        }
    </ul>
}
