@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model KE03_INTDEV_SE_2_Base.Models.CustomerServiceTicket

@{
    ViewData["Title"] = "Edit ticket";
}

<div class="container mt-4">
    <h1 class="h3 mb-3">Aanpassen Klant Service Ticket</h1>

    <form action="@Url.Action("Edit", "Support", new { id = Model.Id })" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label asp-for="Title" class="form-label">Titel</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Klant Id</label>
            <input asp-for="CustomerId" class="form-control" />
        </div>

        <div class="mb-3 form-check">
            <input asp-for="IsActive" class="form-check-input" />
            <label asp-for="IsActive" class="form-check-label">Open</label>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label">Beschrijving</label>
            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
        </div>

        <input type="submit" value="Opslaan" class="btn btn-primary" />
        <a asp-controller="Support" asp-action="Index" class="btn btn-secondary ms-2">Annuleren</a>
    </form>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>
