<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KE03_INTDEV_SE_2_Base</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="matrix-body">
    <header class="matrix-header">
        <div class="matrix-header-left">
            <a class="matrix-logo" href="/">Matrix Market</a>
        </div>

        <nav class="matrix-nav">
            <a class="matrix-nav-link" href="/">Home</a>
            <a class="matrix-nav-link" href="/Customers">Customers</a>
            <a class="matrix-nav-link" href="/Home/Privacy">Privacy</a>
            <a class="matrix-nav-link" asp-controller="Support" asp-action="Index">Customer Support</a>
        </nav>
    </header>

    <main class="matrix-main">
        @RenderBody()
    </main>

    <footer class="matrix-footer">
        <div>&copy; 2025 - KE03_INTDEV_SE_2_Base</div>
        <a class="matrix-nav-link" href="/Home/Privacy">Privacy</a>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/site.js"></script>
</body>
</html>